label {
  font-weight: bold;
}

body {
  background: lightgrey;
}

#carList {

  background-color: aliceblue;
  padding: 5px;
  border:2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
}

input{
  padding: 5px;
}
img{
  width: 500px;
}
